
@model PagedList.IPagedList<ShopAnDam.Models.Framework.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@section header{
    Danh sách người dùng
}
@section jsFooter{

    <script src="~/Assets/admin/js/controller/User.js"></script>
    <script>
        $(document).ready(function () {
            $("#show").click(function () {
                var url = $("#Modal").data("url");

                $.get(url, function (data) {
                    $("#Container").html(data);
                    $("#Modal").modal("show");
                });

            });
        });
        function Details(ID)
           {
               $.get("@Url.Action("Edit","User")/"+ID,
               function(data) {$('.modal-body').html(data);})
                $("#myModal").modal("show");
           }
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
        });

    </script>
}
<div class="row mt">

    @Html.BeginForm("Index", "User", FormMethod.Get)
    {
    <div class="form-group col-lg-12">
        <div class="col-md-8">
            <a class="btn btn-theme" id="show"><i class="fa fa-plus"></i>Thêm mới</a>
        </div>
        <div class="input-append col-md-3">
            <input type="text" class="form-control " value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm">
            <span class="input-group-btn add-on">
                <button class="btn btn-theme" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    }
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th><i class="fa fa-bullhorn"></i> Mã</th>
                        <th><i class="fa fa-bullhorn"></i> Tài khoản</th>
                        <th><i class="fa fa-bookmark"></i> Họ tên</th>
                        <th><i class="fa fa-bookmark"></i> Nhóm quyền</th>
                        <th><i class="fa fa-bookmark"></i> Số điện thoại</th>
                        <th><i class="fa fa-bookmark"></i> Email</th>
                        <th><i class=" fa fa-edit"></i> Trạng thái</th>
                        <th><i class=" fa fa-edit"></i> Hành động</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td></td>
                            <td>@item.ID</td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.GroupID</td>
                            <td>@item.Phone</td>
                            <td>@item.Email </td>
                            <td><a href="#" class="label label-success label-mini btn-active" data-id="@item.ID">@(item.Status ?"Kích hoạt": "Khóa")</a></td>
                            <td>
                                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                <a onclick="Details(@item.ID)" data-id="@item.ID" id="show" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này?",
                               OnComplete = "$('#row_" + @item.ID + "').remove()",
                               HttpMethod = "Delete"
                           }, new { @class = "btn btn-danger btn-xs fa fa-trash-o " }
                               )
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>
<div id='Modal' class='modal' data-url='@Url.Action("Create")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nhà cung cấp</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div id='Container'>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
