@model List<ShopAnDam.Models.CartItem>
@using ShopAnDam.Common;
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (CustomerLogin)Session[CommonConStants.USER_SESSION];
}

@section jsFooter{
    <script src="~/Assets/client/js/controller/Payment.js"></script>
    <link href="~/Assets/client/css/PaymentStyle.css" rel="stylesheet" />
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
                    <a href="/san-pham" class="fa fa-plus-circle">Sản phẩm</a>
                    <span>Thanh toán</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        
        <div  class="checkout-form">

        <div class="row">

            @if (session != null)
            {
                using (Html.BeginForm("Payments", "Cart", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="/dang-nhap" class="content-btn">ĐĂNG NHẬP TÀI KHOẢN</a>
                        </div>
                        <h4>HÓA ĐƠN CHI TIẾT</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Name">Họ và tên<span>*</span></label>
                                <input type="text" id="NameShip" class="form-control" name="NameShip" placeholder="Tên người nhận" value="@session.Name" required>
                            </div>
                            <div class="col-lg-12">
                                <label for="ProvinID">Tỉnh<span>*</span></label>
                                @Html.DropDownList("ProvintID", new SelectList(new string[] { }), htmlAttributes: new { @class = "form-control", @id = "ddlProvint", @session.ProvinID })
                                <input type="hidden" id="hdnTenTinhThanh" name="hdnTenTinhThanh" />
                            </div>
                            <div class="col-lg-12">
                                <label for="DistricID">Huyện<span>*</span></label>
                                @Html.DropDownList("DistrictID", new SelectList(new string[] { }), htmlAttributes: new { @class = "form-control", @id = "ddlDistrict", @session.DistricID })
                                <input type="hidden" id="hdnTenQuanHuyen" name="hdnTenQuanHuyen" />
                            </div>
                            <div class="col-lg-12">
                                <label for="Address">Địa chỉ<span>*</span></label>
                                <input type="text" id="address" class="street-first form-control" name="address" placeholder="Địa chỉ cụ thể" value="@session.Address" required>
                            </div>
                            <div class="col-lg-6">
                                <label for="Email">Email<span>*</span></label>
                                <input type="text" id="email" class=" form-control" name="email" placeholder="Email người nhận" value="@session.Email" required>

                            </div>
                            <div class="col-lg-6">
                                <label for="Phone">Số điện thoại<span>*</span></label>
                                <input type="number" id="SDT" class=" form-control" name="SDT" placeholder="Số điện thoại người nhận" value="@session.Phone" required>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" placeholder="MÃ GIẢM GIÁ">
                        </div>
                        <div class="place-order">
                            <h4>HÓA ĐƠN CHI TIẾT</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    @if (Model.Count > 0)
                                    {
                                        decimal? tong_tien = 0;
                                        decimal? thanh_tien = 0;
                                        <li>Sản phẩm <span>Thành tiền</span></li>
                                        foreach (var item in Model)
                                        {
                                            var url = "/chi-tiet/" + item.Product.MetaTitle + "/" + item.Product.ID;


                                            if (item.Product.MotionPrice != null)
                                            {
                                                thanh_tien = item.Quantity * (item.Product.MotionPrice.HasValue && (item.Product.MotionPrice.ToString() != "0") ? item.Product.MotionPrice : item.Product.Price);
                                                tong_tien += thanh_tien;
                                            }
                                            else
                                            {
                                                thanh_tien = item.Quantity * (item.Product.MotionPrice.HasValue && (item.Product.MotionPrice.ToString() != "0") ? item.Product.Price : 0);
                                                tong_tien += thanh_tien;
                                            }


                                            <li class="fw-normal"><a href="@url">@item.Product.Name</a> x @item.Quantity <span>@thanh_tien.Value.ToString("N0") </span></li>
                                        }
                                        <li class="total-price">Tổng Tiền <span>@tong_tien.Value.ToString("N0")</span></li>

                                    }
                                    else
                                    {
                                        <li>Sản phẩm <span>Thành tiền</span></li>
                                        <li class="fw-normal" style="text-align:center">Chưa có sản phẩm nào !</li>
                                        <li class="total-price">Tổng Tiền <span>0 VNĐ</span></li>
                                    }

                                </ul>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">ĐẶT HÀNG</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cách thức thanh toán-->
                    <!--<input type="hidden" name="FormOfPayment" id="hdnFormOFPayment" value="COD" />
                    <label><input type="radio" id="rdo_COD" name="option_payment" value="COD" checked="checked" /> Thanh toán khi nhận hàng (COD)</label><br />

                    <label><input type="radio" id="rdo_nganluong" name="option_payment" value="NL" /> Thanh toán bằng Ví điện tử NgânLượng</label><br />

                    <label><input type="radio" id="rdo_bank" name="option_payment" value="ATM_ONLINE" /> Thanh toán online bằng thẻ ngân hàng nội địa</label><br />-->

                    @*<label><input type="radio" id="rdo_visa" name="option_payment" value="VISA" /> Thanh toán bằng thẻ Visa hoặc MasterCard</label><br />*@
                    <!--<div id="nganluongpayment" class="boxContent" style="display:none">
                        <p>
                            Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                            Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                            <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
                        </p>

                    </div>
                    <div id="bankpayment" class="boxContent" style="display:none">
                        <p>
                            <i>
                                <span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.
                            </i>
                        </p>
                        <input type="hidden" id="hdnBankCode" name="sBankCode" />
                        <ul class="cardList clearfix">

                            <li class="bank-online-methods ">
                                <label for="vcb_ck_on">
                                    <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                    <input type="radio" ID="VCB" value="VCB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="vnbc_ck_on">
                                    <i class="DAB" title="Ngân hàng Đông Á"></i>
                                    <input type="radio" ID="DAB" value="DAB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="tcb_ck_on">
                                    <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                    <input type="radio" ID="TCB" value="TCB" name="bankcode" />
                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_mb_ck_on">
                                    <i class="MB" title="Ngân hàng Quân Đội"></i>
                                    <input type="radio" ID="MB" value="MB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="shb_ck_on">
                                    <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                    <input type="radio" ID="SHB" value="SHB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vib_ck_on">
                                    <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                    <input type="radio" ID="VIB" value="VIB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vtb_ck_on">
                                    <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                    <input type="radio" ID="ICB" value="ICB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_exb_ck_on">
                                    <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                    <input type="radio" ID="EXB" value="EXB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_acb_ck_on">
                                    <i class="ACB" title="Ngân hàng Á Châu"></i>
                                    <input type="radio" ID="ACB" value="ACB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_hdb_ck_on">
                                    <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                    <input type="radio" ID="HDB" value="HDB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_msb_ck_on">
                                    <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                    <input type="radio" ID="MSB" value="MSB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_nvb_ck_on">
                                    <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                    <input type="radio" ID="NVB" value="NVB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vab_ck_on">
                                    <i class="VAB" title="Ngân hàng Việt Á"></i>
                                    <input type="radio" ID="VAB" value="VAB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vpb_ck_on">
                                    <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                    <input type="radio" ID="VPB" value="VPB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_scb_ck_on">
                                    <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                    <input type="radio" ID="SCB" value="SCB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="ojb_ck_on">
                                    <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                    <input type="radio" ID="OJB" value="OJB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_pgb_ck_on">
                                    <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                    <input type="radio" ID="PGB" value="PGB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_gpb_ck_on">
                                    <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                    <input type="radio" ID="GPB" value="GPB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_agb_ck_on">
                                    <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                    <input type="radio" ID="AGB" value="AGB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_sgb_ck_on">
                                    <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                    <input type="radio" ID="SGB" value="SGB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_nab_ck_on">
                                    <i class="NAB" title="Ngân hàng Nam Á"></i>
                                    <input type="radio" ID="NAB" value="NAB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_bab_ck_on">
                                    <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                    <input type="radio" ID="BAB" value="BAB" name="bankcode" />

                                </label>
                            </li>

                        </ul>

                    </div>-->
                    <!--cách thức thanh toán-->


                }
            }
            else
            {
                using (Html.BeginForm("Payments", "Cart", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="/dang-nhap" class="content-btn">DĂNG NHẬP TÀI KHOẢN</a>
                        </div>
                        <h4>HÓA ĐƠN CHI TIẾT</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Name">Họ và tên<span>*</span></label>
                                <input type="text" id="NameShip" class="form-control" name="NameShip" placeholder="Tên người nhận" required>
                            </div>
                            <div class="col-lg-12">
                                <label for="ProvinID">Tỉnh<span>*</span></label>
                                @Html.DropDownList("ProvintID", new SelectList(new string[] { }), htmlAttributes: new { @class = "form-control", @id = "ddlProvint" })
                                <input type="hidden" id="hdnTenTinhThanh" name="hdnTenTinhThanh" />
                            </div>
                            <div class="col-lg-12">
                                <label for="DistricID">Huyện<span>*</span></label>
                                @Html.DropDownList("DistrictID", new SelectList(new string[] { }), htmlAttributes: new { @class = "form-control", @id = "ddlDistrict" })
                                <input type="hidden" id="hdnTenQuanHuyen" name="hdnTenQuanHuyen" />
                            </div>
                            <div class="col-lg-12">
                                <label for="Address">Địa chỉ<span>*</span></label>
                                <input type="text" id="address" class="street-first form-control" name="address" placeholder="Địa chỉ cụ thể" required>
                            </div>
                            <div class="col-lg-6">
                                <label for="Email">Email<span>*</span></label>
                                <input type="text" id="email" class=" form-control" name="email" placeholder="Email người nhận" required>

                            </div>
                            <div class="col-lg-6">
                                <label for="Phone">Số điện thoại<span>*</span></label>
                                <input type="number" id="SDT" class=" form-control" name="SDT" placeholder="Số điện thoại người nhận" required>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" placeholder="MÃ GIẢM GIÁ">
                        </div>
                        <div class="place-order">
                            <h4>HÓA ĐƠN CHI TIẾT</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    @if (Model.Count > 0)
                                    {
                                        decimal? tong_tien = 0;
                                        decimal? thanh_tien = 0;
                                        <li>Sản phẩm <span>Thành tiền</span></li>
                                        foreach (var item in Model)
                                        {
                                            var url = "/chi-tiet/" + item.Product.MetaTitle + "/" + item.Product.ID;


                                            if (item.Product.MotionPrice != null)
                                            {
                                                thanh_tien = item.Quantity * (item.Product.MotionPrice.HasValue && (item.Product.MotionPrice.ToString() != "0") ? item.Product.MotionPrice : item.Product.Price);
                                                tong_tien += thanh_tien;
                                            }
                                            else
                                            {
                                                thanh_tien = item.Quantity * (item.Product.MotionPrice.HasValue && (item.Product.MotionPrice.ToString() != "0") ? item.Product.Price : 0);
                                                tong_tien += thanh_tien;
                                            }


                                            <li class="fw-normal"><a href="@url">@item.Product.Name</a> x @item.Quantity <span>@thanh_tien.Value.ToString("N0") </span></li>
                                        }
                                        <li class="total-price">Tổng Tiền <span>@tong_tien.Value.ToString("N0")</span></li>

                                    }
                                    else
                                    {
                                        <li>Sản phẩm <span>Thành tiền</span></li>
                                        <li class="fw-normal" style="text-align:center">Chưa có sản phẩm nào !</li>
                                        <li class="total-price">Tổng Tiền <span>0 VNĐ</span></li>
                                    }

                                </ul>

                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">ĐẶT HÀNG</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cách thức thanh toán-->
                    <!--<input type="hidden" name="FormOfPayment" id="hdnFormOFPayment" value="COD" />
                    <label><input type="radio" id="rdo_COD" name="option_payment" value="COD" checked="checked" /> Thanh toán khi nhận hàng (COD)</label><br />

                    <label><input type="radio" id="rdo_nganluong" name="option_payment" value="NL" /> Thanh toán bằng Ví điện tử NgânLượng</label><br />

                    <label><input type="radio" id="rdo_bank" name="option_payment" value="ATM_ONLINE" /> Thanh toán online bằng thẻ ngân hàng nội địa</label><br />-->

                    @*<label><input type="radio" id="rdo_visa" name="option_payment" value="VISA" /> Thanh toán bằng thẻ Visa hoặc MasterCard</label><br />*@
                    <!--<div id="nganluongpayment" class="boxContent" style="display:none">
                        <p>
                            Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                            Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                            <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
                        </p>

                    </div>
                    <div id="bankpayment" class="boxContent" style="display:none">
                        <p>
                            <i>
                                <span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.
                            </i>
                        </p>
                        <input type="hidden" id="hdnBankCode" name="sBankCode" />
                        <ul class="cardList clearfix">

                            <li class="bank-online-methods ">
                                <label for="vcb_ck_on">
                                    <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                    <input type="radio" ID="VCB" value="VCB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="vnbc_ck_on">
                                    <i class="DAB" title="Ngân hàng Đông Á"></i>
                                    <input type="radio" ID="DAB" value="DAB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="tcb_ck_on">
                                    <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                    <input type="radio" ID="TCB" value="TCB" name="bankcode" />
                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_mb_ck_on">
                                    <i class="MB" title="Ngân hàng Quân Đội"></i>
                                    <input type="radio" ID="MB" value="MB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="shb_ck_on">
                                    <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                    <input type="radio" ID="SHB" value="SHB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vib_ck_on">
                                    <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                    <input type="radio" ID="VIB" value="VIB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vtb_ck_on">
                                    <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                    <input type="radio" ID="ICB" value="ICB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_exb_ck_on">
                                    <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                    <input type="radio" ID="EXB" value="EXB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_acb_ck_on">
                                    <i class="ACB" title="Ngân hàng Á Châu"></i>
                                    <input type="radio" ID="ACB" value="ACB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_hdb_ck_on">
                                    <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                    <input type="radio" ID="HDB" value="HDB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_msb_ck_on">
                                    <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                    <input type="radio" ID="MSB" value="MSB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_nvb_ck_on">
                                    <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                    <input type="radio" ID="NVB" value="NVB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vab_ck_on">
                                    <i class="VAB" title="Ngân hàng Việt Á"></i>
                                    <input type="radio" ID="VAB" value="VAB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_vpb_ck_on">
                                    <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                    <input type="radio" ID="VPB" value="VPB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_scb_ck_on">
                                    <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                    <input type="radio" ID="SCB" value="SCB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="ojb_ck_on">
                                    <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                    <input type="radio" ID="OJB" value="OJB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_pgb_ck_on">
                                    <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                    <input type="radio" ID="PGB" value="PGB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_gpb_ck_on">
                                    <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                    <input type="radio" ID="GPB" value="GPB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_agb_ck_on">
                                    <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                    <input type="radio" ID="AGB" value="AGB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_sgb_ck_on">
                                    <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                    <input type="radio" ID="SGB" value="SGB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="bnt_atm_nab_ck_on">
                                    <i class="NAB" title="Ngân hàng Nam Á"></i>
                                    <input type="radio" ID="NAB" value="NAB" name="bankcode" />

                                </label>
                            </li>

                            <li class="bank-online-methods ">
                                <label for="sml_atm_bab_ck_on">
                                    <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                    <input type="radio" ID="BAB" value="BAB" name="bankcode" />

                                </label>
                            </li>

                        </ul>

                    </div>-->
                    <!--cách thức thanh toán-->

                }
            }
     </div>
</div>
    </div>
            </section>

   