@model List<ShopAnDam.Models.Framework.Article>
@*@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>


    $(document).ready(function () {
        $("#show").click(function (e) {
            e.preventDefault();
            var url = $("#Modal").data("url");
            $.get(url, function (data) {
                $("#Container").html(data);
                $("#Modal").modal("show");
            });

        });
    });

      function Details(ID)
           {
               $.get("@Url.Action("EditArticle","Account")/"+ID,
               function(data) {$('.modal-body').html(data);})
                $("#myModal1").modal("show");
           }
        $('#myModal1').on('hidden.bs.modal', function (e) {
            e.preventDefault();
            $('.modal-body').html("");
        });

     function ViewArticle(ID)
           {
               $.get("@Url.Action("ViewArticle","Account")/"+ID,
               function(data) {$('.modal-body').html(data);})
                $("#Hoa").modal("show");
           }
        $('#Hoa').on('hidden.bs.modal', function (e) {
            e.preventDefault();
            $('.modal-body').html("");
        });
</script>


<div class="card-heading ">
    <a class="active" data-toggle="collapse" data-target="#collapseOne">
        Danh Sách Bài Viết
    </a>
</div>
<div id="collapseOne" class="collapse " data-parent="#accordionExample">
    <div class="card-body">
        <div class="col-md-12">
            <div class="form-group col-lg-12">
                <div class="col-md-8">
                    <a class="site-btn" id="show" @*href="/Account/CreateArticle"*@><i class="fa fa-plus"></i>Thêm mới</a>
                </div>

            </div>

            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                    <thead>
                        <tr class="Search">
                            <th></th>
                            <th style="width: 300px"><i class="fa fa-bullhorn"></i> Tiêu Đề</th>
                            <th><i class="fa fa-bookmark"></i> Hình Ảnh</th>
                            <th style="width:200px"><i class="fa fa-bookmark"></i> Chủ Đề</th>
                            <th><i class=" fa fa-edit"></i> Trạng Thái</th>
                            <th><i class=" fa fa-edit"></i> Ngày Tạo</th>
                            <th><i class=" fa fa-edit"></i> Hành Động</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td></td>
                                    <td style="width:00px">@item.Title  </td>
                                    <th><img src="@item.Images" style="width:70px" /></th>
                                    <th style="width: 200px"> @item.Topic.Name</th>
                                    <th>

                                        @if (item.Status == true)
                                        {
                                            <a href="#" class="label label-primary label-mini btn-active" data-id="@item.ID">Hoạt động</a>

                                        }
                                        else if (item.Status == false)
                                        {
                                            <a href="#" class="label label-info label-mini btn-active" data-id="@item.ID">Chờ xét duyệt</a>
                                        }

                                    </th>
                                    <th> @item.CreateDate.Value.ToString("dd/MM/yyyy")</th>
                                    <td>
                                        <button class="btn btn-success btn-xs" onclick="ViewArticle(@item.ID)"><i class="fa fa-check"></i></button>
                                        <a @*href="/Account/EditArticle/@item.ID"*@ onclick="Details(@item.ID)" data-id="@item.ID" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                        @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "btn btn-danger btn-xs fa fa-trash-o " }
                                       )
                                    </td>
                                    <td></td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8"><p style="text-align: center">Bạn chưa có bài viết nào!</p></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id='Modal' class='modal' data-url='@Url.Action("CreateArticle", "Account")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Tạo bài viết</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div id='Container'>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal1" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Chỉnh sửa bài viết</h4>

            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="Hoa" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Chi tiết bài viết</h4>

            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>




