@model List<ShopAnDam.Models.CartItem>
<div class="col-lg-3 text-right col-md-3">
    <ul class="nav-right">
        <li class="heart-icon">
            <a href="#">
                <i class="icon_heart_alt"></i>
                <span>1</span>
            </a>
        </li>
        <li class="cart-icon">
            <a href="/gio-hang">
                <i class="icon_bag_alt"></i>
                <span>@Model.Count()</span>
            </a>
            <div class="cart-hover">
                <div class="select-items">
                    @if (Model.Count > 0)
                    {
                        <table>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    var url = "/chi-tiet/" + item.Product.MetaTitle + "/" + item.Product.ID;

                                    <tr>
                                        <td class="si-pic"><img src="@item.Product.image" alt="@item.Product.Name"></td>
                                        <td class="si-text">
                                            <div class="product-selected">
                                                <p>@item.Product.Price.GetValueOrDefault(0).ToString("N0") x @item.Quantity </p>
                                                <h6><a href="@url">@item.Product.Name</a></h6>
                                            </div>
                                        </td>
                                        <td class="si-close">
                                            <i class="ti-close"></i>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table>
                            <tbody>
                                <tr>
                                    <td><span style="margin-left:50px; text-align: center">GIỎ HÀNG TRỐNG</span></td>
                                </tr>
                            </tbody>
                        </table>
                    }

                </div>
                <div class="select-total">
                    @if (Model.Count > 0)
                    {
                        decimal? tong_tien = 0;
                        decimal? thanh_tien = 0;
                        foreach (var item in Model)
                        {

                             thanh_tien = item.Quantity * item.Product.Price;
                            tong_tien += thanh_tien;

                        }
                        <span>Tổng Tiền: </span>
                        <h5>@thanh_tien.Value.ToString("N0") VNĐ</h5>
                    }

                    else
                    {
                        <span>Tổng Tiền: </span>
                        <h5>0 VNĐ</h5>
                    }


                </div>
                <div class="select-button">
                    <a href="/gio-hang" class="primary-btn view-card">XEM GIỎ HÀNG</a>
                    <a href="/thanh-toan" class="primary-btn checkout-btn">THANH TOÁN</a>
                </div>
            </div>
        </li>
    @*    @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                decimal? tong_tien = 0;
                decimal? thanh_tien = item.Quantity * item.Product.Price;
                tong_tien += thanh_tien;
    <li class="cart-price"><i class="fa fa-money"></i> @thanh_tien.Value.ToString("N0")</li>
            }
        }

        else
        {
    
            <li class="cart-price"><i class="fa fa-money"></i>0</li>
        }*@

    </ul>
</div>