
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Trang chủ
}

    <script>
            window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "MyHands"
                },
                subtitles: [{
                    text: "Q2, 2016"
                }],
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} - {y}%",
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }]
            });
            chart.render();

            }
        </script>


@*<div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tổng doanh thu</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SumOrder VND</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số sản phẩm</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CountProduct</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số bài viết</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CountContent</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Đơn chờ xử lý</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CountPendingOrders</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>*@


<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card"style="background: #95d5ff; padding-top:60px; padding-left: 140px">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-primary text-uppercase mb-4">Tổng doanh thu</h5>
                                    <h1 class="mt-1 mb-3">@ViewBag.SumOrder VND</h1>
                                    @*<div class="mb-1">
                                            <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                            <span class="text-muted">Since last week</span>
                                        </div>*@
                                </div>
                            </div>
                            <div class="card" style="background: #95d5ff; padding-top:60px; padding-left: 140px">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-danger text-uppercase mb-4">Tổng số bài viết</h5>
                                    <h1 class="mt-1 mb-3">@ViewBag.CountContent</h1>
                                    <div class="mb-1">
                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card"style="background: #95d5ff; padding-top:60px; padding-left: 140px">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-danger text-uppercase mb-4">Tổng số sản phẩm</h5>
                                    <h1 class="mt-1  mb-3">@ViewBag.CountContent</h1>
                                    <div class="mb -1 ">
                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card"style="background: #95d5ff; padding-top:60px; padding-left: 140px">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-warning text-uppercase mb-4">Đơn chờ xử lý</h5>
                                    <h1 class="mt-1 mb-3">@ViewBag.CountPendingOrders</h1>
                                    <div class="mb-1">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</main>
