
@model ShopAnDam.Models.Framework.Product

@{
    ViewBag.Title = "Thêm mới";
    Layout = null;
}

@section header{
    Thông tin chi tiết sản phẩm
}


<div class="row mt">
    <div class="col-lg-12">
        <div>
            @using (Html.BeginForm("View", "Product", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.BrandID, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        @Html.TextBoxFor(model => model.BrandID, null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        @Html.TextBoxFor(model => model.CategoryID, null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ImageID, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        @Html.TextBoxFor(model => model.ImageID, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-horizontal ">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Code,null, new { @class = "form-control", })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @id = "name" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.MetaTitle,new { @class = "form-control", @id = "meta" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Price, htmlAttributes: new { @class = "form-control", type = "number" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Quantity, htmlAttributes: new { @class = "form-control", type = "number" })
                        </div>
                    </div>
                    <div class="">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control", @id = "meta" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                            <div class="col-sm-1">
                                @Html.TextBoxFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "col-sm-2 col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.CreateDate, htmlAttributes: new { @class = "form-control", @type = "date" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-2">
                            <input type="submit" value="Chỉnh Sửa" class="btn btn-theme" />
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
    <!-- col-lg-12-->
</div>
