@using ShopAnDam.Models.Framework;
@using ShopAnDam.Models.ViewModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slide = (List<Slide>)ViewBag.slide;
    var product = (List<ProductViewmodel>)ViewBag.product;
    var product1 = (List<ProductViewmodel>)ViewBag.product1;
    var brand = (List<Brand>)ViewBag.brand;
    var article = (List<Article>)ViewBag.article;

}
@section jsFooter{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

<!-- Hero Section Begin -->
@section slide{
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            @foreach (var item in slide)
            {
                <div class="single-hero-items set-bg" data-setbg="@item.Image">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <span>Bag,kids</span>
                                <h1>Hello Hòa Minzy</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore
                                </p>
                                <a href="#" class="primary-btn">Shop Now</a>
                            </div>
                        </div>
                        <div class="off-card">
                            <h2>Sale <span>50%</span></h2>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in brand)
            {
                <div class="col-lg-4" style="width:300px; height:300px">
                    <div class="single-banner">
                        <img src="@item.Logo" alt="Thương Hiệu">
                        <div class="inner-text">
                            <h4>@item.Name</h4>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="Assets/client/img/products/women-large.jpg">
                    <h2>Women’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Clothings</li>
                        <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    @foreach (var item in product)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "/" + item.ID;
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="@item.HinhAnh" alt="@item.Name">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="/them-gio-hang?ProductID=@item.ID&Quantity=1" data-toggle="tooltip" data-placement="bottom" title="Thêm vào giỏ hàng"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="@url">Xem chi tiết</a></li>
                                    <li class="w-icon"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Mua hàng"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">@item.CateName</div>
                                <a href="#">
                                    <h5>@item.Name</h5>
                                </a>
                                <div class="product-price">
                                    @(item.MotiPrice.HasValue&&(item.MotiPrice.ToString()!="0")? item.MotiPrice.Value.ToString("N0"): item.Price.Value.ToString("N0"))
                                    <span> @(item.MotiPrice.HasValue&&(item.MotiPrice.ToString() != "0") ? item.Price.Value.ToString("N0") : " ")</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->
<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="Assets/client/img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                    consectetur adipisicing elit
                </p>
                <div class="product-price">
                    $35.00
                    <span>/ HanBag</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section>
<!-- Deal Of The Week Section End -->
<!-- Man Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">

                
                    <div class="filter-control">
                        @*<ul>
                    <li class="active">Clothings</li>
                    <li>HandBag</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                     </ul>*@
                        <h2>New Arrivals</h2>
                    </div>
                    <div class="product-slider owl-carousel">
                        @foreach (var item in product1)
                        {
                            var url = "/chi-tiet/" + item.MetaTitle + "/" + item.ID;
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="@item.HinhAnh" alt="@item.Name">
                                    <div class="sale">New</div>
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="/them-gio-hang?ProductID=@item.ID&Quantity=1" data-toggle="tooltip" data-placement="bottom" title="Thêm vào giỏ hàng"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="@url">Xem chi tiết</a></li>
                                        <li class="w-icon"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Mua hàng"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">@item.CateName</div>
                                    <a href="#">
                                        <h5>@item.Name</h5>
                                    </a>
                                    <div class="product-price">
                                        @(item.MotiPrice.HasValue&&(item.MotiPrice.ToString()!="0")? item.MotiPrice.Value.ToString("N0"): item.Price.Value.ToString("N0"))
                                        <span> @(item.MotiPrice.HasValue&&(item.MotiPrice.ToString() != "0") ? item.Price.Value.ToString("N0") : " ")</span>
                                    </div>
                                </div>
                            </div>
                        
                        }



                    </div>
                </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="Assets/client/img/products/man-large.jpg">
                    <h2>Bột ăn dặm</h2>
                    <a href="#">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section End -->
<!-- Instagram Section Begin -->
<div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="Assets/client/img/insta-1.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="Assets/client/img/insta-2.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="Assets/client/img/insta-3.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-4.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="Assets/client/img/insta-5.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="Assets/client/img/insta-6.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
</div>
<!-- Instagram Section End -->
<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Kiến thức ăn dặm cho bé</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in article)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="@item.Images" alt="@item.Name">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    @(item.CreateDate.HasValue?item.CreateDate.Value.ToString("dd/MM/yyyy"):"")
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    @*      @item.ViewCount*@
                                </div>
                            </div>
                            <a href="">
                                <h4>@item.Title</h4>
                            </a>
                            <p>@item.Topic.Name </p>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="Assets/client/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Shipping</h6>
                            <p>For all order over 99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="Assets/client/img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Delivery On Time</h6>
                            <p>If good have prolems</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="Assets/client/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Secure Payment</h6>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
<!-- Partner Logo Section Begin -->
